<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Eaten!{{else}}UNEATEN!{{/if}}
	</button>
	<button class="burger-delete" data-id="{{id}}">DELETE!</button>
</li>
